@media (min-width: 48rem) {

  .composerCentered.composerCentered {
    position: absolute;
    inset: auto 0;
    bottom: auto;
    top: 44%;
    transform: translateY(-50%);
    padding-block: 0;
  }

  .composerCentered.composerCentered::before,
  .composerCentered.composerCentered::after {
    content: none;
  }
}
